ENV=local
TZ=Asia/Seoul
MOCK_PROVIDERS=true
USE_SUPABASE_REPOSITORY=false
RUN_ONCE=false
BOT_DEFAULT_MODE=paper
LOOP_INTERVAL_SEC=30
HEARTBEAT_INTERVAL_SEC=30
MAX_CONCURRENT_API_CALLS=5
SUPABASE_URL=
SUPABASE_SECRET_KEY=
TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
TOSS_ACCOUNT_ID=
TOSS_CREDENTIAL_SCOPE=read_only
TOSS_ORDER_CAPABLE_CREDENTIALS=false
KR_CALENDAR_COLLECTION_ASSESSMENT_ENABLED=false
KR_CALENDAR_COLLECTION_MANUAL_EXECUTION_ENABLED=false
KR_CALENDAR_COLLECTION_HOLDER_ID=
LIVE_ORDER_EXECUTION_ENABLED=false
TOSS_ORDER_ENDPOINT_ENABLED=false
EXECUTION_V2_ENABLED=false
EXECUTION_V2_ENVIRONMENT=paper
EXECUTION_V2_WORKER_API_ENABLED=false
EXECUTION_V2_PAPER_RESUME_INPUT_ENABLED=false
EXECUTION_V2_PAPER_SOURCE_INPUT_ENABLED=false
EXECUTION_V2_WORKER_ID=
EXECUTION_V2_ACCOUNT_ID=
WORKER_LEASE_TTL_SEC=30
WORKER_LEASE_RENEW_INTERVAL_SEC=10
OPERATIONS_COMMAND_INTERVAL_SEC=2
OPERATIONS_EXECUTION_INTERVAL_SEC=5
OPERATIONS_SETTLEMENT_INTERVAL_SEC=10
OPERATIONS_RECONCILIATION_INTERVAL_SEC=10
OPERATIONS_OUTBOX_INTERVAL_SEC=1
OPERATIONS_HEARTBEAT_INTERVAL_SEC=5
DEAD_MAN_ACCOUNT_ID=
DEAD_MAN_ALERT_WEBHOOK_URL=
DEAD_MAN_ALERT_WEBHOOK_RECEIVER_ACK_CURRENT_KEY_ID=
DEAD_MAN_ALERT_WEBHOOK_RECEIVER_ACK_CURRENT_KEY_B64=
DEAD_MAN_ALERT_WEBHOOK_RECEIVER_ACK_PREVIOUS_KEY_ID=
DEAD_MAN_ALERT_WEBHOOK_RECEIVER_ACK_PREVIOUS_KEY_B64=
DEAD_MAN_INTERVAL_SEC=10
DEAD_MAN_REQUEST_TIMEOUT_SEC=5
OPENDART_API_KEY=
KRX_API_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.5
ALERT_WEBHOOK_URL=
ALERT_WEBHOOK_RECEIVER_ACK_CURRENT_KEY_ID=
ALERT_WEBHOOK_RECEIVER_ACK_CURRENT_KEY_B64=
ALERT_WEBHOOK_RECEIVER_ACK_PREVIOUS_KEY_ID=
ALERT_WEBHOOK_RECEIVER_ACK_PREVIOUS_KEY_B64=
ALERT_WEBHOOK_TIMEOUT_SEC=5
ALERT_DRILL_MAX_LATENCY_MS=2000
LIVE_SYSTEM_ORDER_COUNT_SCOPE_ACCEPTED=false
